#!/bin/bash

export SODIUM_DISABLE_PIE=1 
export LDFLAGS='--specs=nosys.specs' 
export CFLAGS='-mcpu=cortex-m4 -mfloat-abi=hard -mthumb -Os -ffunction-sections -fdata-sections -DLIBSODIUM_NO_PLATFORM_RANDOM=1'
export SODIUM_HOST=arm-none-eabihf
